{% load static %}

<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% for logo in logos %}
                    {% if logo.image %}
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{{logo.image.url}}" alt="{{logo.tittle}}"></a>
                    {% else %}
                    <a class="navbar-brand" href="{% url 'home' %}" > <span class="big-text">{{logo.name}}</span> </a>
                    
                    {% endif %}
            
            
            {% endfor %}

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">{{names.home}}</a>
                    </li>

                   <!--news, gadgets, rewies-->
                   
                
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">{{names.contact}}</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link" ><i class="fa fa-rss"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ><i class="fa fa-android"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ><i class="fa fa-apple"></i></a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    {% for adse in adses %}
                    {% if adse.adsnavbar %}
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            {% if adse.urlnavbar %}
                            <a href="{{adse.urlnavbar}}" target="_blank" rel="noopener noreferrer">{% endif %}<img src="{{adse.adsnavbar.url}}" alt="" class="img-fluid"></a>
                            
                        </div><!-- end banner-img -->
                    </div><!-- end banner -->
                    {% endif %}
                    <br>
                    {% endfor %}
                </div><!-- end col -->
            </div><!-- end row -->

        </nav>
    </div> <!-- end container-fluid -->
</header> <!-- end market-header -->