{% extends 'main.html' %}
{% block content %}
{% load static %}

    <div id="wrapper">
        

        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        {% for abt in abouts %}
                        {% if abt.name %}    <h2><i class="fa fa-envelope-open-o bg-orange"></i> {{abt.name}} <small class="hidden-xs-down hidden-sm-down">{{abt.description}} </small></h2> {% endif %}
                        {% endfor %}
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">{{names.home}}</a></li>
                            <li class="breadcrumb-item active">{{ names.contact }}</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-wrapper">
                            <div class="row">
                                {% for abt in abouts %}
                                {% if abt.about %}
                                <div class="col-lg-5">
                                    <p>{{abt.about|safe}}</p>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="col-lg-7">
                                    <form class="form-wrapper" method="POST" action="{% url 'contact' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="{{ form.name.id_for_label }}">{{names.contactname}}</label>
                                            {{ form.name }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.email.id_for_label }}">{{names.contactemail}}</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.phone.id_for_label }}">{{names.contactphone}}</label>
                                            {{ form.phone }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.subject.id_for_label }}">{{names.contactsubject}}</label>
                                            {{ form.subject }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.message.id_for_label }}">{{names.contactmessage}}</label>
                                            {{ form.message }}
                                        </div>
                                        <button type="submit" class="btn btn-primary">{{names.contactsend}} <i class="fa fa-envelope-open-o"></i></button>
                                    </form>
                                    
                                    
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

{% endblock %}