{% extends 'main.html' %}
{% block content %}
{% load static %}

        <section class="section first-section">
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        {% for adse in adses %}
                        {% if adse.adsheader %}
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                {% if adse.urlheader %}
                                <a href="{{adse.urlheader}}" target="_blank" rel="noopener noreferrer">{% endif %}<img src="{{adse.adsheader.url}}" alt="" class="img-fluid"></a>
                                
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                        {% endif %}
                        <br>
                        {% endfor %}
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="masonry-blog clearfix">
                    {% for header in headers %}
                    {% if header.image %}
                    <div class="first-slot">
                        <div class="masonry-box post-media">
                             <img src="{{header.image.url}}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <!--<span class="bg-orange"><a href="tech-category-01.html" title="">Technology</a></span>-->
                                        <h4><a href="{% url 'single' header.name  %}" title="">{{header.name}}</a></h4>
                                        <!--<small><a href="tech-single.html" title="">24 July, 2017</a></small>-->
                                        <!--<small><a href="tech-author.html" title="">by Amanda</a></small>-->
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                            
                        </div><!-- end post-media -->
                    </div><!-- end first-side -->
                    {% endif %}
                    {% endfor %}
                    

                    
                    {% for header in header2s %}
                    {% if header.image %}
                    <div class="second-slot">
                        <div class="masonry-box post-media">
                            <img src="{{header.image.url}}" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <!--<span class="bg-orange"><a href="tech-category-01.html" title="">Gadgets</a></span>-->
                                        <h4><a href="{% url 'single2' header.name %}" title="">{{header.name}}</a></h4>
                                        <!--<small><a href="tech-single.html" title="">03 July, 2017</a></small>-->
                                        <!--<small><a href="tech-author.html" title="">by Jessica</a></small>-->
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                             </div><!-- end shadow -->
                             
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->
                    {% endif %}
                    {% endfor %}

                    
                </div><!-- end masonry -->
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">

                    
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                {% for adse in adses %}
                                {% if adse.ads %}
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        {% if adse.urlads %}
                                        <a href="{{adse.urlads}}" target="_blank" rel="noopener noreferrer"> {% endif %} <img src="{{adse.ads.url}}" alt="" class="img-fluid"></a>
                                        
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                                {% endif %}
                                <br>
                                {% endfor %}
                            </div><!-- end col -->
                        </div><!-- end row -->

                        <br>

                        <div class="page-wrapper">
                            <div class="blog-grid-system">

                                <div class="blog-top clearfix">
                                    <h4 class="pull-left">{{names.news}} <i class="fa fa-rss"></i> </h4>
                                </div><!-- end blog-top -->

                                <div class="row">
                                    {% for blog in page_obj %}
                                    <div class="col-md-6">
                                        
                                        <div class="blog-box">
                                            
                                            <div class="post-media">
                                                <a href="{% url 'singleblog' blog.name %}" title="">
                                                    {% if blog.image %}
                                                    <img src="{{blog.image.url}}" alt="" class="img-fluid">
                                                    {% endif %}
                                                    <div class="hovereffect">
                                                        <span></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <!--<span class="color-orange"><a href="tech-category-01.html" title="">Gadgets</a></span>-->
                                                <h4><a href="{% url 'singleblog' blog.name %}" title="">{{blog.name}}</a></h4>
                                                {{ blog.description|safe|truncatechars:100 }}
                                                <!--<small><a href="tech-single.html" title="">14 July, 2017</a></small>
                                                <small><a href="tech-author.html" title="">by Jack</a></small>-->
                                                <small><a href="{% url 'singleblog' blog.name %}" title=""><i class="fa fa-eye"></i> {{blog.view}}</a></small>
                                            </div><!-- end meta -->
                                            
                                                        <div class="banner-img">
                                                            {% if blog.adversimenthome %}
                                                            {% if blog.urladverhome %}
                                                            <a href="{{blog.urladverhome}}" target="_blank" rel="noopener noreferrer"> {% endif %} <img src="{{blog.adversimenthome.url}}" alt="" class="img-fluid"> </a>
                                                            {% endif %}
                                                        </div><!-- end banner-img -->
                                                    
                                            
                                        </div><!-- end blog-box -->
                                        
                                    </div><!-- end col -->
                                    {% endfor %}
                                </div><!-- end row -->
                            </div><!-- end blog-grid-system -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis3">

                        <div class="page-number">
                            <div class="pagination">
                              <span class="step-links">
                                  {% if page_obj.has_previous %}
                                      <a href="?page=1">&laquo;&laquo;</a>
                                      <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                  {% endif %}
                          
                                  <span class="current">
                                    {% if names.page %} {{names.page}} {% endif %} {{ page_obj.number}}
                                  </span>
                          
                                  {% if page_obj.has_next %}
                                      <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                      <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>
                                  {% endif %}
                              </span>
                            </div>
                        </div>

                        <br>
                        
                    
                        <div class="row">
                            <div class="col-lg-12">
                                {% for adse in adses %}
                                {% if adse.ads2 %}
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        {% if adse.urlads2 %}
                                        <a href="{{adse.urlads2}}" target="_blank" rel="noopener noreferrer"> {% endif %} <img src="{{adse.ads2.url}}" alt="" class="img-fluid"></a>
                                        
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                                {% endif %}
                                {% endfor %}
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->



                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                {% for adse in adses %}
                                {% if adse.ads3 %}
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        {% if adse.urlads3 %}
                                        <a href="{{adse.urlads3}}" target="_blank" rel="noopener noreferrer"> {% endif %} <img src="{{adse.ads3.url}}" alt="" class="img-fluid"> </a>           
                                    </div><!-- end banner-img --> 
                                </div><!-- end banner -->
                                {% endif %}
                                {% endfor %}
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">{{names.popular}}</h2>
                                <div class="trend-videos">
                                    {% for suggesti in suggests %}
                                    <hr class="invis">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{% url 'singleblog' suggesti.suggest.name %}" title="">
                                                <img src="{{suggesti.suggest.image.url}}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class="videohover"></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="{% url 'singleblog' suggesti.suggest.name %}" title="">{{suggesti.suggest.name}}</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                    {% endfor %}

                                </div><!-- end videos -->
                            </div><!-- end widget -->


                            <div class="widget">
                                <h2 class="widget-title">{{names.follow}}</h2>
                                {% for footer in footers %}
                                <div class="row text-center">
                                    {% if footer.facebook %} 
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="{{footer.facebook}}" class="social-button facebook-button" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-facebook"></i>
                                            
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if footer.twitter %}
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="{{footer.twitter}}" class="social-button twitter-button" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-twitter"></i>
                                            
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if footer.instagram %}
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="{{footer.instagram}}" class="social-button google-button" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-instagram"></i>
                                            
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if footer.youtube %}
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="{{footer.youtube}}" class="social-button youtube-button" target="_blank" rel="noopener noreferrer">
                                            <i class="fa fa-youtube"></i>
                                            
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div><!-- end widget -->

                            <div class="widget">
                                {% for adse in adses %}
                                {% if adse.ads4 %}
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        {% if adse.urlads4 %}
                                        <a href="{{adse.urlads4}}" target="_blank" rel="noopener noreferrer"> {% endif %} <img src="{{adse.ads4.url}}" alt="" class="img-fluid"></a>
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                                {% endif %}
                                {% endfor %}
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                    
                    

                    

               
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

{% endblock %}